.header {
    background-color: #190d5c;
    color: #fff;
    padding: 20px;
    font-style: italic;
    text-align: center;
  }

  .header a{
  color: #fff;
  font-style: italic;
  padding: 100px;
  font-size: 20px;
  font-weight:bold;
  text-decoration: none;
  }

  .header h3{
    text-align: center;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
  }

  img {
    margin: auto;
    display: block;
  }

  .texto{
    text-align: center;
    margin: auto;
    display: block;
  }

  .texto textarea{
    background-color: white;
    margin: auto;
    display: block;
    max-width: 100%;
    border-color: #190d5c;
    border-radius: 20px;
    border-width: 5px;
    font-size: 25px;
  }

  .texto button{
    background-color: #190d5c;
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    color: #fff;
    border-radius: 15px;
    width: 200px;
    height: 30px;
  }

  .footer {
    background-color: #190d5c;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
  }

  .texto h2{
    color: #190d5c;
    padding: 20px;
    font-style: italic;
    text-align: center;
  }
  
